.a {
    background-color: #6b7fd7;
    height: 100vh;
    display: flex;
    align-items: center;
}

.a-left {
    background-color: #713e5a;
    border-radius: 30px;
    margin: 20px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.a-right {
    flex: 1;

}

/* .a-card.bg{
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #713e5a;
} */

.a-card {
    width: 60%;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.a-card-text {
    font-weight: 800;
    font-size:large; 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:flex-start;

}

.a-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.a-title {
    font-weight: 800;
    font-size: 50px;
    
}

.a-sub {
    margin: 20px 0px;
    font-weight: 600;
    font-size: 30px;
}

.a-desc {
    font-weight: 600;
    font-size: 30px;

}

@media screen and (max-width: 480px){
    .a{
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
    }
    .a-left {
        width: 100%;

    }
    .a-card {
        height: 30vh;

    }
    .a-card-bg {
        display: none;
    }
    .a-right {
        padding: 20px;
    }
} 